div.one {
border: 4px solid #fede00;
border-radius: 10px;
background: #fede00;
text-align: center;
}


body{
background: #b7001f !important;
}

label.one{
font-family: Times new roman, times;
font-size: 27px;
color: #B7001F;
}

input.one{
background: #B7001F;
font-size: 22px;
font-family: Times new roman, times;
color: #FEDE00;
border: 0px;
border-radius: 5px;

}

input.two{
font-size: 27px;
font-family: Times new roman, times;
border: 0.5px solid white;
border-radius: 5px;
}

input.three{
background: #FEDE00;
font-size: 27px;
font-family: Times new roman, times;
color: #B7001F;
border: 0px;
border-radius: 5px;
margin-top:70px;
}

div.four {
text-align: right;
}


div.five {
text-align: right;
}

form.one{
text-align: right;
}

form.two{
text-align: left;
}
