body{
    background-color: #B7001F;
    }
    
    img.one{
    border: 1px solid #fede00;
    background: #fede00;
    border-radius:40px;
    padding: 10px;
    }
    
    .circulo {
        width: min-content;
        height: min-content;
        border-radius: 50%;
        overflow: hidden;
        transition: 0.3s ease;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #fede00;
        display: flex;
    }

    div.zero {
        width: 400px;
        text-align: center;
        margin: 0 auto;
        margin-left: 230px;
    }
    
    div.one{
    border: 1px solid #ffff55;
    border-radius: 10px;
    background: #ffff55;
    width: 550px;
    height: 615px;
    text-align: center;
    }
    
    div.two{
    border: 2px solid #b7001c;
    border-radius: 10px;
    background: #ffff90;
    width: 525px;
    height: 515px;
    margin-top: 7px;
    margin-left: 10px;
    }
    
    div.three{
    border: 2px solid #b7001c;
    border-radius: 6px;
    background: none;
    width: 522px;
    height: 50px;
    margin-top: 462px;
    text-align: center;
    }
    
    h2.one{
    position: relative;
    margin-left: 100px;
    margin-top: -10%;
    font-family: "Times new roman", Times;
    font-size:27px;
    color: #b7001f;
    }
    
    input.one{
    background: none;
    font-family: "Times new roman", Times;
    font-size:22px;
    border:0px;
    border-radius:5px;
    margin-top: 15px;
    color:#b7001f;
    margin-left: 10px;
    }
    
    input.two{
    width:70px;
    height:35px;
    background:#b7001f;
    font-family: "Times new roman", Times;
    font-size:22px;
    border:0px;
    border-radius:5px;
    color:#fede00;
    margin-right: 5px;
    margin-left: 150px;
    margin-top: 6px;
    text-align: right;
    }

@media screen and (max-width: 768px) {

    div.zero {
        width: 270px;
        text-align: center;
        margin: 0 auto;
    }

    div.one {
        width: 275px;
        height: 475px;
    }

    div.two {
        width: 270px;
        height: 330px;
        margin-left: 0px;
    }

    div.three {
        width: 270px;
        height: 25px;
        border-radius: 8px;
        margin-top: 288px;
        background: none;
        border: none;
    }

    h2.one {
        position: relative;
        margin-left: 100px;
        margin-top: -60px;
        font-size: 21px;
        text-align: center;   
    }

    input.one {
        margin-left: 3px;
        border: 2px solid #b7001c;
        background-color: #ffff90;
        font-size: 20px;
        border-radius: 8px;
        width: 250px;
    }

    input.two {
        width: 42px;
        height: 25px;
        font-size: 15px;
        position: relative;
        border: 0px;
        margin-top: 10px;
        margin-right: -70px;
        color: #ffff90;;
    }


}