div.one {
text-align: center;
}
div.cen {
text-align: center;
}
div.two {
background: #fede00;
border: 1px solid #FEDE00;
border-radius: 8px;
}

body{
background: #b7001f !important;
}

input.one{
background: #B7001F;
font-size: 22px;
font-family: Times new roman, times;
color: #FEDE00;
border: 0px;
border-radius: 5px;

}

input.three{
background: #FEDE00;
font-size: 27px;
font-family: Times new roman, times;
color: #B7001F;
border: 0px;
border-radius: 5px;
} 

div.four {
text-align: center;
margin-top: 20px;
}


form.one{
text-align: center;
}

h2.one{
color: #fede00;
}
