body{
background-color: #B7001F;
} 

div.one {
border: 4px solid #ffff55;
border-radius: 10px;
background: #ffff55;
width: fit-content; 
width: -moz-fit-content; 
margin-top:50px;
padding: 4px;
}

div.two {
width: max-content; 
}

div.three {
width: max-content; 
padding: 8px;
}

div.four {
width: max-content; 
}

td.one{
font-family: "Times new roman",Times;
font-size: 22px;
}



td.five{
width: 76px;

}


th.one{
width: auto;
text-align: left;
font-family: "Times new roman",Times;
font-size: 22px;
padding-right: 20px;
}

table.one {
width: max-content; 
width: -moz-max-content; 
border-bottom: 2px solid black;
padding-bottom: 5px;
}

input.one{
margin-top: 13px;
background: #FEDE00 ;
font-weight: 600;
font-size: 22px;
font-family: Times new roman, times;
color: #B7001F;
border: 0px;
border-radius: 5px;
margin-left: 18px;
margin-right: 18px;
}